name: Build

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'
      - '*.puml'
      - '.github/workflows/release.yaml'
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    env:
      GO_VERSION: 1.17
      GOLANGCI_LINT_VERSION: v1.53
      YAEGI_VERSION: v0.10.0
      CGO_ENABLED: 0
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v3
      with:
        go-version: ^${{ env.GO_VERSION }}
    - uses: actions/checkout@v3
      with:
        fetch-depth: 10
    - uses: wagoid/commitlint-github-action@v5

    - name: Cache Go modules
      uses: actions/cache@v3
      with:
        path: ${{ github.workspace }}/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Setup GOPATH
      run: go env -w GOPATH=${{ github.workspace }}/go

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: ${{ env.GOLANGCI_LINT_VERSION }}
        args: "--help"

    - name: Lint and test
      run: make lint test build

    - name: Install Yaegi
      run: curl -sfL https://raw.githubusercontent.com/traefik/yaegi/master/install.sh | bash -s -- -b $(go env GOPATH)/bin ${{ env.YAEGI_VERSION }}

    - name: Test with Yaegi
      run: ${{ github.workspace }}/go/bin/yaegi test -v .
